In [1]:
#Working with data and Saving Data
#When we have data frame we can work with the data & save the result in other formate
#Pandas has the method "unique" to determine unique element in a column of datatype
#For example
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [2]:
df.head()

   a  b
0  1  1
1  2  1
2  1  1

In [4]:
df['a'].unique()

array([1, 2], dtype=int64)

In [5]:
#As we comparing so it written boolen "true" and "flase"
df['a']>1

0    False
1     True
2    False
Name: a, dtype: bool

In [6]:
df1=df[df['a']>1]

In [8]:
df1.head()

   a  b
1  2  1

In [10]:
df.to_csv("ex\my own create csv file.csv")